:root {
  --common-border-color: #aaa;
  --common-border: 1px solid var(--common-border-color);

  --header-text-color: #2976b3;
  --header-background-color: #3a9dfb;
  --header-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
